.dmy-fold-accordion {
    border: 1px solid #e0e0e0;
    border-radius: 4px;
    margin: 1rem 0;
    overflow: hidden;
}

.dmy-fold-accordion-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    background-color: #f5f9ff;
    cursor: pointer;
}

.dmy-fold-accordion-title {
    color: #333;
    font-size: 1.1rem;
    font-weight: 500;
    margin: 0 !important;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.dmy-fold-accordion-toggle {
    background: none;
    border: none;
    color: #000000;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 24px;
    height: 24px;
    padding: 0;
}

.dmy-fold-accordion-toggle svg {
    width: 20px;
    height: 20px;
    fill: currentColor;
    transition: transform 0.4s cubic-bezier(0.4, 0, 0.2, 1);
}

.dmy-fold-accordion-toggle:focus {
    outline-style: none;
}

.dmy-fold-accordion.is-open .dmy-fold-accordion-toggle svg {
    transform: rotate(180deg);
}

.dmy-fold-accordion-content {
    border-top: none;
    max-height: 0;
    opacity: 0;
    overflow: hidden;

    transform: translateY(-10px);
    transition: all 0.3s ease-out;
}

.dmy-fold-accordion.is-open .dmy-fold-accordion-content {
    max-height: 100%;
    opacity: 1;
    transform: translateY(0);
    word-wrap: break-word;
    overflow-wrap: break-word;
    white-space: normal;
}

.dmy-fold-accordion.is-open .dmy-fold-accordion-header {
    background-color: #e6f0ff;
}

#dmy-accordion-content-bu {
    padding: 0;
}



#dmy-accordion-content-bu.dmy-accordion-content-stop {
    padding: 0;
}

.dmy-fold-accordion-content p {
    color: #555;
    margin: 10px 0;
    padding: 0px 10px;
    text-align: justify;
}

.dmy-fold-accordion-text {
    height: 0;
}